# Окружение Python
venv/
.env

google_creds.json

# Кэш
__pycache__/
*.pyc

# Данные баз данных (ОБЯЗАТЕЛЬНО ИГНОРИРОВАТЬ)
postgres_data/

# Локальные файлы данных (чтобы не забить лимит GitHub)
data/*.pdf
data/*.docx
data/*.xlsx

# Другое
.DS_Store
storage/
